body {
  margin : 0px;
}

canvas {
  width: 100vw !important;
  height: 100vh !important;
}
canvas, div {
  position: absolute;
  top: 0px;
  left: 0px;
}

div {
  padding: 10px 30px;
  opacity: 0.5;
  color: white;
  font-family: sans-serif;
  font-size: 10vw;
  z-index: 5;
}
